.paths-wrapper {
    display: flex;
    flex-direction: column;
}
.list-wrapper {
    margin: 1rem 0;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}
.list-active {
    background-color: #188fff47;
}
@media(max-width: 992px) {
    .list-wrapper {
        height: 300px;
    }
}

@media(min-width: 993px) {
    .list-wrapper {
        height: 588px;
    }
}