

.details {
    position: relative;
    .abslute-btn {
        position: absolute;
        top: -15px;
        right: -15px;
    }
    .full-description {
        height: 100px;
        overflow-y: auto;
        margin-bottom: 10px;
    }
    .details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;
    }
    
    .footer-actions {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}